dataset/images/*
!dataset/images/.gitkeep
dataset/labels/*
!dataset/labels/.gitkeep
predictions/detect/*
!predictions/detect/.gitkeep
predictions/*
!predictions/.gitkeep
yolo_dataset/images/*
!yolo_dataset/images/.gitkeep
yolo_dataset/labels/*
!yolo_dataset/labels/.gitkeep
yolo_dataset/test/*
!yolo_dataset/test/.gitkeep
yolo_dataset/train/*
!yolo_dataset/train/.gitkeep
yolo_dataset/val/*
!yolo_dataset/val/.gitkeep
yolo11n.pt
yolo11s.pt
object_detection_models/*
!object_detection_models/.gitkeep
improved_yolo_dataset/*
!improved_yolo_dataset/.gitkeep
yolo_output/*
!yolo_output/.gitkeep
yolov11_plant_detection/*
!yolov11_plant_detection/.gitkeep
validation_viz/*
!validation_viz/.gitkeep
yolov11_cv_s/*
yolo_dataset_kfold_normed/*
pretrained_leaf_yolo.pt_output/*
Cocoa_Disease_Starter_Notebook.ipynb
train_yolo_model.py
train_yolo_improved.ipynb
train_yolo_model.py
train_rcnn_from_scratch_improved.ipynb
various/*